<h2>Vuelos disponibles</h2>

<clr-datagrid>
    <clr-dg-action-bar>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
                <clr-icon shape="plus"></clr-icon> Nuevo vuelo</button>
        </div>
    </clr-dg-action-bar>
    <clr-dg-column>Id</clr-dg-column>
    <clr-dg-column>Nombre
        <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column>Fecha de salida</clr-dg-column>
    <clr-dg-column>Origen</clr-dg-column>
    <clr-dg-column>Destino</clr-dg-column>
    <clr-dg-column>Precio</clr-dg-column>
    <clr-dg-column>Ocupación</clr-dg-column>

    <clr-dg-row *ngFor="let vuelo of vuelos">
        <clr-dg-cell>{{vuelo.id}}</clr-dg-cell>
        <clr-dg-cell>{{vuelo.nombre}}</clr-dg-cell>
        <clr-dg-cell>{{vuelo.fechaSalida | date:'medium'}}</clr-dg-cell>
        <clr-dg-cell>
            <span class="flag-icon flag-icon-{{vuelo.aeropuertoOrigen_pais | lowercase}}"></span>
            {{vuelo.aeropuertoOrigen_nombre}} ({{vuelo.aeropuertoOrigen_id}})
        </clr-dg-cell>
        <clr-dg-cell>
            <span class="flag-icon flag-icon-{{vuelo.aeropuertoDestino_pais | lowercase}}"></span>

            {{vuelo.aeropuertoDestino_nombre}} ({{vuelo.aeropuertoDestino_id}})</clr-dg-cell>
        <clr-dg-cell>{{vuelo.tarifa}} €</clr-dg-cell>
        <clr-dg-cell>
            <div class="progress flash-danger">
                <progress [value]="vuelo.plazasTotales - vuelo.plazasLibres" [max]="vuelo.plazasTotales"></progress>
            </div>
        </clr-dg-cell>

        <clr-dg-row-detail *clrIfExpanded>
            <span>
                <strong>Plazas disponibles: </strong>{{vuelo.plazasLibres}}/{{vuelo.plazasTotales}}</span>
            <span>

                <strong>Tipo: </strong> {{vuelo.tipoVuelo}}</span>
            <span>
                <strong>Fecha y hora embarque: </strong> {{vuelo.fechaEmbarque | date:'medium'}}</span>
            <span>
                <strong>Fecha y hora creacion: </strong> {{vuelo.fechaCreacionReserva | date:'medium'}}</span>
        </clr-dg-row-detail>
    </clr-dg-row>

    <clr-dg-footer>{{vuelos?.length}} vuelos</clr-dg-footer>
</clr-datagrid>

<clr-wizard #wizard [(clrWizardOpen)]="wizardOpened" (clrWizardOnCancel)="wizardClosed()" (clrWizardOnFinish)="createAvion()" clrWizardSize="lg">
    <clr-wizard-title>Nuevo vuelo</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Cancelar</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Atrás</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Siguiente</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finalizar <span class="spinner" *ngIf="loading"></span></clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="createAvionForm.get('nombre').invalid 
    || createAvionForm.get('fechaSalida').invalid
    || createAvionForm.get('horaSalida').invalid
    || createAvionForm.get('embarque').invalid
    || createAvionForm.get('tarifa').invalid">
        <ng-template clrPageTitle>General</ng-template>
        <form [formGroup]="createAvionForm">
            <section class="form-block">
                <label>Información general</label>
                <div class="form-group">
                    <label for="aForm_1">Nombre</label>
                    <input formControlName="nombre" type="text" id="aForm_1" placeholder="Nombre descriptivo" size="45">
                </div>
                <div class="form-group">
                    <label for="aForm_2">Fecha de Salida</label>
                    <input formControlName="fechaSalida" type="date" id="aForm_2" placeholder="Fecha de salida">
                    <input formControlName="horaSalida" type="time" id="aForm_2" placeholder="Hora de salida">
                </div>
                <div class="form-group">
                    <label for="aForm_3">Apertura puerta de embarque</label>
                    <input formControlName="embarque" max=0 type="number" id="aForm_3" placeholder="Minutos antes de la salida" size="35">
                </div>
                <div class="form-group">
                    <label for="aForm_4">Tarifa (€)</label>
                    <input formControlName="tarifa" type="number" id="aForm_4" placeholder="" size="35">
                </div>
            </section>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="createAvionForm.get('aeropuertoOrigen').invalid 
    || createAvionForm.get('aeropuertoOrigen').invalid">
        <ng-template clrPageTitle>Origen y destino</ng-template>
        <form [formGroup]="createAvionForm">
            <clr-stack-view>
                <clr-stack-header>Aeropuertos</clr-stack-header>

                <clr-stack-block [clrSbExpanded]="true">
                    <clr-stack-label>Origen</clr-stack-label>
                    <clr-stack-content><strong>{{ createAvionForm.get('aeropuertoOrigen').value?.nombre }} </strong>
                            {{ createAvionForm.get('aeropuertoOrigen').value?.tipo }}
                            <span class="flag-icon flag-icon-{{createAvionForm.get('aeropuertoOrigen').value?.isoPais | lowercase}}"></span>
                    </clr-stack-content>
                    <clr-stack-block>
                        <clr-stack-label>Desde </clr-stack-label>
                        <clr-stack-content>
                            <div class="select">
                                <select id="selects_1" formControlName="aeropuertoOrigen">
                                    <option *ngFor="let aer of aeropuertos" [ngValue]="aer">{{aer.nombre}} {{aer.id}}
                                            
                                    </option>
                                </select>
                            </div>
                        </clr-stack-content>
                    </clr-stack-block>
                </clr-stack-block>
                <clr-stack-block>
                    <clr-stack-label>Destino</clr-stack-label>
                    <clr-stack-content><strong>{{ createAvionForm.get('aeropuertoDestino').value?.nombre }} </strong>
                            {{ createAvionForm.get('aeropuertoDestino').value?.tipo }}
                            <span class="flag-icon flag-icon-{{createAvionForm.get('aeropuertoDestino').value?.isoPais | lowercase}}"></span>
                        </clr-stack-content>
                    <clr-stack-block>
                        <clr-stack-label>Hasta </clr-stack-label>
                        <clr-stack-content>
                            <div class="select">
                                <select id="selects_1" formControlName="aeropuertoDestino">
                                    <option *ngFor="let aer of aeropuertos" [ngValue]="aer">{{aer.nombre}} {{aer.id}}</option>
                                </select>
                            </div>
                        </clr-stack-content>
                    </clr-stack-block>
                </clr-stack-block>
            </clr-stack-view>
        </form>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!avionSelected">
        <ng-template clrPageTitle>Avión</ng-template>
        <clr-datagrid [(clrDgSingleSelected)]="avionSelected">
            <clr-dg-column>Modelo</clr-dg-column>
            <clr-dg-column>Nombre
            </clr-dg-column>
            <clr-dg-column>Plazas
            </clr-dg-column>

            <clr-dg-row *ngFor="let avion of aviones" [clrDgItem]="avion">
                <clr-dg-cell>{{avion.modelo}}</clr-dg-cell>
                <clr-dg-cell>{{avion.nombre}}</clr-dg-cell>
                <clr-dg-cell>{{avion.plazas}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{aviones?.length}} aviones</clr-dg-footer>
        </clr-datagrid>

    </clr-wizard-page>
</clr-wizard>