<div class="row">
    <div *ngFor="let ag of agencias" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                {{ ag.name }}
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <img [src]="images[ag.id]" class="card-media-image">
                    <div class="card-media-description">
                        <span class="card-media-title">
                            <strong>ID</strong> {{ ag.id }}
                        </span>
                        <span class="card-media-text">
                          <strong>Nombre usuario</strong> {{ ag.username }}
                        </span>
                    </div>
                </div>
                <div class="card-text">
                    <strong>{{ ag.num_reservas }}</strong> reservas realizadas
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Action</button>
            </div>
        </div>
    </div>
</div>